/* .App {
  text-align: center;
} */

body {
  color: #fff !important;
  background-color: black !important;
}
.netflix-logo {
  max-width: 96px;
}
.nav-bar {
  background-color: black;
}
.dropdown-img {
  width: 48px;
  color: white !important;
}
.drop-down-menu {
  border-radius: 11px;
  left: -100px !important;
  background-color: black !important;
}
.navbar-light .navbar-toggler {
  background-color: beige;
}
.dropdown-menu a {
  color: #fff;
}
.dropdown-toggle {
  background-color: transparent;
}
.icon {
  font-size: 32px;
}
footer {
  margin-top: 100px;
}
.strive-card {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

.infos-container {
  color: white;
  background: #1b2530;
  background: linear-gradient(rgba(27, 37, 48, 0), #0c0f12 48px);
  position: absolute;
  transform: translateY(-3.3rem);
  padding: 3rem 0.75rem 1rem;
  opacity: 0;
  transition: all 0.25s ease-in-out, padding 0.25s ease-out 0.15s;
  pointer-events: none;
  overflow: hidden;
}

.infos-content .play-btn:not(:hover) {
  background: black;
}

.infos-content .play-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  position: relative;
  transform: translateX(-60px);
  opacity: 0;
  transition: transform 0.3s ease 0.4s, opacity 0.3s ease-out 0.5s;
}

.infos-content .play-btn:hover {
  border: none;
  animation: gradientSlide 4s ease infinite;
}

.infos-content .play-btn::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 2px;
  margin: auto;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent white;
}

.infos-content .season {
  transform: translateX(-60px);
  transition: transform 0.25s ease-out 0.4s;
}

.infos-content .plus-btn {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.infos-content .plus-btn::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.infos-content .plus-btn::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.infos-content p,
.infos-content h6,
.infos-content .movie-footer {
  opacity: 0;
  transform: translateY(-4px);
}

.infos-content p.prime-title {
  transition: all 1s ease-out 0.15s;
}

.infos-content > h6 {
  transition: all 1s ease-out 0.25s;
}

.infos-content > h6 + p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.3;
  transition: all 1s ease-out 0.35s;
}

.infos-content .movie-footer {
  transition: all 1s ease-out 0.45s;
}

.infos-content .prime-title {
  color: #00a8e1;

  font-weight: 600;
}

.strive-card:hover {
  transform: scale(1.2);
  z-index: 10;
}

.strive-card:hover .infos-container {
  opacity: 1;
  transform: translateY(-3rem);
  padding: 3rem 1rem 1rem;
  pointer-events: initial;
}

.strive-card:hover .infos-content .season,
.strive-card:hover .infos-content p,
.strive-card:hover .infos-content > h6,
.strive-card:hover .infos-content .movie-footer {
  opacity: 1;
  transform: translateY(0);
}

.strive-card:hover .infos-content .play-btn {
  opacity: 1;
  transform: translateX(0);
}
.arr-down {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
